extends layout.pug

block scripts

block content
    div(class='clock')
        div(class='clock-face')
            div(class='hand hour-hand')
            div(class='hand min-hand')
            div(class='hand second-hand')
    script(src='2.js')
