extends layout.pug
block content
  nav
    ul(class="menu")
      li #[a(href="") Home]
      li #[a(href="") Order Status]
      li #[a(href="") Tweets]
      li #[a(href="") Read Our History]
      li #[a(href="") Contact Us]

  div(class="wrapper")
    p Lorem ipsum dolor sit amet, #[a(href="") consectetur] adipisicing elit. Est #[a(href="") explicabo] unde natus necessitatibus esse obcaecati distinctio, aut itaque, qui vitae!
    p Aspernatur sapiente quae sint #[a(href="") soluta] modi, atque praesentium laborum pariatur earum #[a(href="") quaerat] cupiditate consequuntur facilis ullam dignissimos, aperiam quam veniam.
    p Cum ipsam quod, incidunt sit ex #[a(href="") tempore] placeat maxime #[a(href="") corrupti] possimus #[a(href="") veritatis] ipsum fugit recusandae est doloremque? Hic, #[a(href="") quibusdam], nulla.
    p Esse quibusdam, ad, ducimus cupiditate #[a(href="") nulla], quae magni odit #[a(href="") totam] ut consequatur eveniet sunt quam provident sapiente dicta neque quod.
    p Aliquam #[a(href="") dicta] sequi culpa fugiat #[a(href="") consequuntur] pariatur optio ad minima, maxime #[a(href="") odio], distinctio magni impedit tempore enim repellendus #[a(href="") repudiandae] quas!