extends layout.pug
block content
    div(class="items")
      div(class="item item1") 01 
      div(class="item item2") 02 
      div(class="item item3") 03 
      div(class="item item4") 04 
      div(class="item item5") 05 
      div(class="item item6") 06 
      div(class="item item7") 07 
      div(class="item item8") 08 
      div(class="item item9") 09 
      div(class="item item10") 10 
      div(class="item item11") 11 
      div(class="item item12") 12 
      div(class="item item13") 13 
      div(class="item item14") 14 
      div(class="item item15") 15 
      div(class="item item16") 16 
      div(class="item item17") 17 
      div(class="item item18") 18 
      div(class="item item19") 19 
      div(class="item item20") 20 
      div(class="item item21") 21 
      div(class="item item22") 22 
      div(class="item item23") 23 
      div(class="item item24") 24 
      div(class="item item25") 25 