extends layout.pug

block scripts
block content
    h1(class='hl') #{lesson_title}
    div(class='controls')
        label(for='spacing') Spacing:
        input(type='range', name='spacing', min='10', max='200', value='10', data-sizing='px')

        label(for='blur') Blur:
        input(type='range', name='blur', min='0', max='25', value='10', data-sizing='px')

        label(for='base_color') Base Color
        input(type='color', name='base', value='#ffc600')

        img(src='https://source.unsplash.com/7bwQXzbF6KE/800x500')
