extends layout.pug

block scripts
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Amatic+SC', type='text/css')

block content

    div(class='panels')
        div(class='panel panel1')
            p Hey
            p let's
            p dance
        div(class='panel panel2')
            p Give
            p Take
            p Receive
        div(class='panel panel3')
            p Experience
            p it
            p Today
        div(class='panel panel4')
            p Give
            p all
            p you can
        div(class='panel panel5')
            p Life
            p in
            p Motion