//- layout.pug
html
  head
    include includes/head.pug
    block head

    block style
    block scripts

    block body
    block content
    if lesson
      include includes/lesson.pug


    block foot
