- let homeLink = {style:"color:lime; font-size:20; position:absolute; top:0; right:0;"}
html
  head
    include includes/head.pug
    block head
    block style
    if lesson
      link(rel='stylesheet', href=`/${lesson}.css`, type='text/css')
      link(rel='stylesheet', href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", type='text/css')
    block scripts
  
  body
    if lesson
      a(href='/')&attributes(homeLink) #[i(class="fa fa-home fa-3x")]
    block content
    if lesson
      // - special content specific to a lesson
      include includes/lesson.pug
    else
      include includes/index.pug
    if lesson
      script(src=`${lesson}.js`)
