//- layout.pug
html
  head
    include includes/head.pug
      
    block head
    block style
    if lesson
      link(rel='stylesheet', href=`/${lesson}.css`, type='text/css')
    block scripts
  
  body
    //- block body
    block content

      if lesson
        include includes/lesson.pug
      else
        include includes/index.pug
    if lesson
      script(src=`${lesson}.js`)
