#footer {
  text-align: center;
}

#footer a:link, #footer a:visited {
    text-align: center;
    background-color: #009218;
    color: rgb(248, 248, 248);
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    padding: 2px 5px 2px 5px;
  }

  #footer a:hover, #footer a:active {
    background-color: #00a71c;
  }