html body {
  background-color: darkgrey;
}
ul {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

.header {
  color:  forestgreen
}
.lessons-list {
  list-style-type:none;
}